body{
    margin: 0;
    font-family: cursive;
}
h1{
    text-align: center;    
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color-container{
    background-color: orange;
    width: 300px;
    height: 150px;
    color: white;
    margin: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 25px;
    text-shadow: 2px 2px 4px rgba(0,0,0, 0.5);
    border-radius: 20px;
    border: solid black 2px;
}








#button{
   left: 50%;
   top: -110px;
   margin-left: 100vh;
   font-size: 2rem;
   width: 17%;
  transform: translate(-50%, 0);
   height: 60px;
   border: none;
   cursor: pointer;
   color: white;
   background:#b76b30;
   border-radius: 50px;
   font-family: cursive;


}

@media(){
    
}